# Server port
PORT=9000

# OpenAI API Key (optional, for server-side chat)
OPENAI_API_KEY=sk-your-openai-api-key-here

# MCP Server URLs
GDRIVE_SERVER_URL=http://localhost:8080
GFORMS_SERVER_URL=http://localhost:8081
GMAIL_SERVER_URL=http://localhost:8082
GCALENDAR_SERVER_URL=http://localhost:8083
GTASK_SERVER_URL=http://localhost:8084
GSHEETS_SERVER_URL=http://localhost:8085
